
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;

  /* 스크롤 바 숨기기 */
  -ms-overflow-style: none; /* IE 및 Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari 및 Opera */
}

#mainContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

#videoContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


/* body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

#mainContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

#videoContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
} */